backend/src/main/java/cc/mrbird/febs/webService/Mess/smsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.core.weikang.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.core.weikang.com" xmlns:intf="http://service.core.weikang.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.core.weikang.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="service">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:string"/>
      <element name="in1" type="xsd:string"/>
      <element name="in2" type="xsd:string"/>
      <element name="in3" type="xsd:string"/>
      <element name="in4" type="xsd:string"/>
      <element name="in5" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="serviceResponse">
    <complexType>
     <sequence>
      <element name="out" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="callBark">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:string"/>
      <element name="in1" type="xsd:string"/>
      <element name="in2" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="callBarkResponse">
    <complexType>
     <sequence>
      <element name="out" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="serviceRequest">

      <wsdl:part element="impl:service" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="serviceResponse">

      <wsdl:part element="impl:serviceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="callBarkRequest">

      <wsdl:part element="impl:callBark" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="callBarkResponse">

      <wsdl:part element="impl:callBarkResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="smsServicePortType">

      <wsdl:operation name="service">

         <wsdl:input message="impl:serviceRequest" name="serviceRequest">

       </wsdl:input>

         <wsdl:output message="impl:serviceResponse" name="serviceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="callBark">

         <wsdl:input message="impl:callBarkRequest" name="callBarkRequest">

       </wsdl:input>

         <wsdl:output message="impl:callBarkResponse" name="callBarkResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="smsServiceHttpPortSoapBinding" type="impl:smsServicePortType">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="service">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="serviceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="serviceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="callBark">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="callBarkRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="callBarkResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="smsService">

      <wsdl:port binding="impl:smsServiceHttpPortSoapBinding" name="smsServiceHttpPort">

         <wsdlsoap:address location="http://192.168.64.52:8288/sms_service/services/smsService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
